# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Johannes\iCloudDrive\Uni\CSE\Year 3\Advanced Prototyping\APP\3D print, use, disolve, repeat\GCode Viewer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
